


<td>
{{dvd?.id}}

</td>
<td>
  {{dvd?.title}}

</td>
<td>
  {{dvd?.author}}

</td>
<td>
  {{dvd?.price}}

</td>
<td>
  {{dvd?.quantity}}

</td>
<td>
  <img src="{{dvd?.fileSource}}" style="height: 100px; width:100px"/>

</td>
<td>
  <button type="button" class="btn btn-danger" (click)="dvdService.deletedvd(dvd.id)">Remove</button>
  <button type="button" class="btn btn-primary"  [routerLink]="[dvd.id]">Update</button>
  <button type="button" class="btn btn-secondary" [routerLink]="['details',dvd.id]">Details</button>

</td>


