<div><img src={{myimage}} style="position:absolute; opacity: 0.8;" class=" w-100 h-85 "></div>
<app-topbar></app-topbar>
<div class="row" id="contentToPDF">
  <div class="mx-5" style="padding-left: 35% ;padding-top: 7%; position:relative;">
    <img src="{{dvd?.fileSource}}" style="height: 400px; width:400px"/>


    <h1>  Title  : {{dvd?.title}} </h1>

    <h3>  Director  :{{dvd?.author}}</h3>

    <h3> Price :{{dvd?.price}} $</h3>

    <h3>Quantity  : {{dvd?.quantity}}</h3>


    <button class="btn btn-secondary" (click)="onBack()">Back</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-secondary" (click)="downloadPDF()">Save As PDF</button>


  </div>

</div>
