
<fieldset>
<br>

<br><br>
<button type="button" class="btn btn-outline-light"  [routerLink]="['add']">Add Dvd</button>
<br>
<br>
<br>


  <div  class="input-group mb-3">

    <input   type="text" class="form-control w-25 mx-3 " placeholder="Search by title" [(ngModel)]="title" />

    <div class="input-group-append">

      <button class="btn btn-outline-light" type="button" (click)="searchTitle()">
        Search
      </button>

    </div>

  </div>

  <table  class="table table-hover mx-8" *ngIf="dvds"  >
  <thead class="thead-dark">



  <tr>

    <td (click)="sort('title')">
      Title&nbsp;
      <i class="fa fa-sort"></i>

    </td>
    <td>
      Director

    </td>
    <td>
      Price
    </td>
    <td>
      Quantity
    </td>
    <td>
      Cover
    </td>

    <td>
      Actions
    </td>
  </tr>
  </thead>

  <tr  *ngFor="let dvd of dvds" class="modifcol"   >
  <td>
    {{dvd?.title}}

  </td>
  <td>
    {{dvd?.author}}

  </td>
  <td>
    {{dvd?.price}}

  </td>
  <td>
    {{dvd?.quantity}}

  </td>
  <td>
    <img src="{{dvd?.fileSource}}" style="height: 100px; width:100px"/>

  </td>
  <td>
    <button type="button" class="btn btn-danger" [routerLink]="['/reload',dvd.id]">Remove</button>

    <button type="button" class="btn btn-primary"  [routerLink]="['/update',dvd.id]">Update</button>

    <button type="button" class="btn btn-secondary" [routerLink]="['/details',dvd.id]">Details</button>
  </td>

</tr>


</table>

</fieldset>
